<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Catan Scoreboard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="">
    <%= render "shared/navbar" %>
      <%= yield %>
  </body>
</html>

<%# class="bg-[#ffffff] opacity-30 bg-[linear-gradient(30deg,#d0b821_12%,transparent_12.5%,transparent_87%,#d0b821_87.5%,#d0b821),linear-gradient(150deg,#d0b821_12%,transparent_12.5%,transparent_87%,#d0b821_87.5%,#d0b821),linear-gradient(30deg,#d0b821_12%,transparent_12.5%,transparent_87%,#d0b821_87.5%,#d0b821),linear-gradient(150deg,#d0b821_12%,transparent_12.5%,transparent_87%,#d0b821_87.5%,#d0b821),linear-gradient(60deg,#d0b82177_25%,transparent_25.5%,transparent_75%,#d0b82177_75%,#d0b82177),linear-gradient(60deg,#d0b82177_25%,transparent_25.5%,transparent_75%,#d0b82177_75%,#d0b82177)] bg-[length:28px_49px] bg-[position:0_0,0_0,14px_25px,14px_25px,0_0,14px_25px]" %>
